<!DOCTYPE html>
<!--
Marcus Dechant (c)
v5.4.4
-->
<html>
    <head>
        <link rel="shortcut icon" href="#">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Graph</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="stylesheet" href='../static/css/style.css'/>
        <script>
            function timedRefresh(timeoutPeriod) {
                setTimeout("location.reload(true);", timeoutPeriod);
            }
            window.onload = timedRefresh({{refreshValue}});
        </script>
    </head>
    <body>
        <div class="header">
            <h1>Radio Status</h1>
            <h3>RadioProject</h3>
            Dev v5.4.4
        </div></br>
        <div class="nav">
            <form method="POST">
                <button name="x" value="{{x1}}" class="button">1 Hour</button>
                <button name="x" value="{{x3}}" class="button">3 Hour</button>
                <button name="x" value="{{x6}}" class="button">6 Hours</button>
                <button name="x" value="{{x12}}" class="button">12 Hours</button>
                <button name="x" value="{{x24}}" class="button">24 Hours</button>
                <button name="x" value="{{xW}}" class="button">Last Week</button>
                <button name="x" value="{{x4W}}" class="button">4 Weeks</button>
                <a href="/radiostat" class="button">All</a>
            </form>
            <a href="/" class="button">Home</a>
            <a href="/graph?x={{x24}}" class="button">Reading Graph</a>
        </div>
        <div class="content">
            Last {{xH}} hour(s)
        </div>
        <div>
            <div class="graph" >
                <canvas id="RSSIChart" ></canvas>
            </div></br>
            <div class="graph" >
                <canvas id="SNRChart" ></canvas>
            </div>
            <div class="graphBot">
                Reading Delay {{DELAY}} Seconds</br>
                Loop ID: {{ITN}}</br>
                Remote Loop ID: {{RLID}}
            </div>
        </div>
    </body>
        <script>
            var RSSIgraph = document.getElementById("RSSIChart");
            var line_graph = new Chart(RSSIgraph, {
                type: 'line',
                data: {
                    labels: {{LID}},
                    datasets: [
                        {   label: 'Return Signal Strength Inicator ({{RSSI}} dBm)',
                            data: {{RSSIGR}},
                            borderColor: 'rgb(0, 0, 255)', 
                            backgroundColor: 'rgb(0, 0, 255)'}]},
                options: {plugins: {legend: {labels: {color: 'gray'}}},
                    responsive: true,
                    maintainAspectRatio: false,
                    elements: {point: {radius: 0}},
                    scales: {
                        y: {grid: {
                                color: 'white',
                                borderColor: 'white'},
                            ticks: {color: '#6D6D6D'}},
                        x: {grid: {display: false},
                            ticks: {
                                beginAtZero: true,
                                display: false}}
                        }
                    }
                });
           var SNRgraph = document.getElementById("SNRChart");
            var line_graph = new Chart(SNRgraph, {
                type: 'line',
                data: {
                    labels: {{LID}},
                    datasets: [
                        {   label: 'Signal-to-Noise Ratio ({{SNR}} dB)',
                            data: {{SNRGR}},
                            borderColor: 'rgb(255, 0, 0)', 
                            backgroundColor: 'rgb(255, 0, 0)'}]},
                options: {plugins: {legend: {labels: {color: 'gray'}}},
                    responsive: true,
                    maintainAspectRatio: false,
                    elements: {point: {radius: 0}},
                    scales: {
                        y: {grid: {
                                color: 'white',
                                borderColor: 'white'},
                            ticks: {color: '#6D6D6D'}},
                        x: {grid: {display: false},
                            ticks: {
                                beginAtZero: true,
                                display: false}}
                        }
                    }
                });
        </script>
    
    </body>
</html>