<!DOCTYPE html>

<!--
Radio Project
Remote Sensor
Marcus Dechant (c)
Graph Webpage
v5.6
-->

<html>
    <head>
        <link rel="shortcut icon" href="#">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Graph</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="stylesheet" href='../static/css/style.css'/>
        
        <script>//auto refresh
            function timedRefresh(timeoutPeriod) {
                setTimeout("location.reload(true);", timeoutPeriod);
            }
            window.onload = timedRefresh({{ refreshValue }}); //refresh value is Delay x 1000
        </script>
    
    </head>
    <body>
        <div class="header">
            <h1>Current Enviroment</h1>
            <h3>RadioProject</br>
            Reading Graph</h3>
            Dev v5.6
        </div>
        </br>
        <div class="nav">
            <form method="POST">
                <button name="x" value="{{x1}}" class="button">1 Hour</button>
                <button name="x" value="{{x3}}" class="button">3 Hour</button>
                <button name="x" value="{{x6}}" class="button">6 Hours</button>
                <button name="x" value="{{x12}}" class="button">12 Hours</button>
                <button name="x" value="{{x24}}" class="button">24 Hours</button>
                <button name="x" value="{{xW}}" class="button">Last Week</button>
                <button name="x" value="{{x4W}}" class="button">4 Weeks</button>
                <a href="/graph" class="button">All</a>
                <!--<button name="x" value="-1" class="button">All</button>-->
            </form>
            <a href="/" class="button">Home</a>
            <a href="/radiostat?x={{x1}}" class="button">Radio Status</a>
        </div>
        <div class="content">
            Last {{xH}} hour(s) </br>
            Code: <span style="color:#{{COLOR}}">{{CODE}}</span>
        </div>
        <div>
            <div class="graph" >
                <canvas id="mainChart" ></canvas>
            </div>
            
            <div class="graphBot">
                Reading Delay {{DELAY}} Seconds </br>
                Loop ID: {{ITN}} </br>
                Remote Loop ID: {{RLID}}
            </div>
        </div>
    </body>
        <script>
            
            var graph = document.getElementById("mainChart");
            var line_graph = new Chart(graph, {
                type: 'line', //graph type
                data: {
                    labels: {{LID}}, //x
                    datasets: [
                        {   //y axis | Temp
                            label: 'Temperature ({{TEMP}}'+'\u00B0'+'C)', //legend title
                            data: {{TEMPGR}}, //y axis values
                            borderColor: 'rgb(0, 0, 255)', //line colour
                            backgroundColor: 'rgb(0, 0, 255)' //fill legend box
                        },
                        {   //y axis 2 | Humidity
                            label: 'Humidity ({{HUMI}}%)',
                            data: {{HUMIGR}},
                            borderColor: 'rgb(255, 0, 0)',
                            backgroundColor: 'rgb(255, 0, 0)'
                        }
                    ],
                },
                options: { 
                    plugins: { 
                        legend: { 
                            labels: { 
                                color: 'gray', //label text color
                                }
                            }
                        },
                    responsive: true, //css aspect ratio
                    maintainAspectRatio: false, //css aspect ratio
                    elements: {
                        point: {
                            radius: 0, //removes points (only leaves a line)
                            },
                        },
                    scales: { 
                        y: {
                            grid: {
                                color: 'white', //y axis line color
                                borderColor: 'white', //zero line color
                            },
                            ticks: {
                                color: '#6D6D6D', //y axis label text color
                            },
                        },
                        x: { 
                            grid: {
                                display: false, //removes vertical gridlines
                            },
                            ticks: {
                                beginAtZero: true, //css aspect ratio
                                display: false, //removes x axis
                            },
                        },
                    },
                },
            });
        </script>
    
    </body>
</html>